body {
    font: 10pt arial;
    padding: 0;
    margin: 0;
  }
#test{
  cursor: pointer;
}
#test2{
  cursor: pointer;
  padding-top: 100px;
}
.content{
  display: inline-block;
  width: 49vw;
  height: 600px;
  padding-left: 1vw;
  padding-top: 150px;
}
.fleche_graph{
  display: flex;
  position: relative;
}

#mapping_div{
  text-align: center;
}
.slidecontainer{
  bottom: 50px;
  width: 90%;
  text-align: center;
  position: absolute;
}

.fleche{
  text-align: center;
  width: 3vw;
  margin-top: 50%;
  display: inline-block;
  transform: translateY(-50%);
  
}


.mapping_graph{
  width: 90%;
  display: inline-block;
}

.img_fleche_haut_2sec{
  width: 25px;
  background-image: url("./arrow.svg");
  transform: rotate(90deg);
}

.img_fleche_bas_2sec{
  width: 25px;
  background-image: url("./arrow.svg");
  transform: rotate(-90deg);
  
}

.img_fleche_haut_10sec{
  width: 25px;
  margin-top: 80px;
  background-image: url("./arrow.svg");
  transform: rotate(90deg);
}

.img_fleche_bas_10sec{
  width: 25px;
  background-image: url("./arrow.svg");
  transform: rotate(-90deg);
  
}

.text_fleche_bas_10sec{
  margin-top: 10px;
}

.text_fleche_bas_2sec{
  margin-top: 10px;
}

.slider{
  margin-left: 50px;
  margin-right: 50px;
}
.text_slider{
  display: inline-block;
}

.current_time{
  margin-top: 0;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
